<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Hello!{% endblock %}</title>
        <script src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
        <script src="{{ asset('js/jquery.csv-0.71.min.js') }}"></script>

        <script src="{{ asset('js/grid/jquery.dataTables.js') }}"></script>

        <script src="{{ asset('js/utils.js') }}"></script>
        <script src="{{ asset('js/review.js') }}"></script>


        <link type="text/css" rel="stylesheet" href="{{ asset('css/jquery.dataTables.css')}}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('css/styles.css')}}" />




    </head>
    <body>
        <div class="homeTitle">
            <a href="/"><span class="blue">w</span><span class="blue">e</span><span class="blue">l</span><span class="orange">c</span><span class="orange">o</span><span class="garnet">m</span><span class="garnet">e</span></a>
        </div>

        <div class="homeOptions">
            <div>
                <a href="/load-default-reviews/" class="blue">[Load default reviews & criteria]</a>
            </div>
            <div>
                <a href="/load-manual-php/" class="orange">[Load your own files and process them with PHP]</a>
            </div>
            <div>
                <a href="/load-manual-js/" class="garnet">[Load your own files and process them with JS]</a>
            </div>
            <div>
                <a href="/live-review/" class="blue">[Live review]</a>
            </div>
        </div>



        <div id="content">
            {% block content %}{% endblock %}
        </div>


    </body>
</html>